@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


body{
    font-family: 'Roboto', sans-serif; 
}


.active{
    color: black; 
    font-weight: 500;     
}

a:hover{
    color: rgb(249 115 22);
}

header, nav{
    z-index: 10001 !important;
}

.categorybtn button{
       color: black; 
       opacity: .50;
}

[x-cloak] { display: none; }